[Unit]
Description=discepto.service
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
EnvironmentFile=/home/gitlab/discepto.env
ExecStart=/home/gitlab/discepto start

[Install]
WantedBy=multi-user.target default.target
