[Unit]
Description=discepto.service
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
PrivateUsers=true
EnvironmentFile=/home/gitlab/discepto.env
WorkingDirectory=/
RootDirectory=/home/gitlab/discepto/
ExecStart=/discepto start

[Install]
WantedBy=multi-user.target default.target
