{{ define "400" }} {{ template "head" . }}
</head>

<body>
    <section class="section is-small"></section>
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <h1 class="title">400 Bad Requests</h1>
                <div class="has-text-left">
                    <pre>{{.}}</pre>
                </div>
            </div>
            <div class="column has-text-centered">
                <img src="/static/img/logo.svg" />
            </div>
        </div>
    </div>
    </section>
</body>

</html> {{ end }}
