{{ define "500" }} {{ template "head" . }}
</head>

<body>
    <section class="section is-small"></section>
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column has-text-centered">
                <h1 class="title">500 Internal Server Error</h1>
                <p class="subtitle">{{.}}</p>
            </div>
            <div class="column has-text-centered">
                <img src="/static/img/logo.svg" />
            </div>
        </div>
    </div>
    </section>
</body>

</html> {{ end }}