{{ define "essay" }} {{ template "head" . }}
<style>
    body {
        background-color: #EFEFEF;
    }
</style>
</head>

<body class="body">
    {{ template "navbar" .}}
    <br>
    <div class="container">
        <div class="columns">
            <div class="column is-9">

                <div class="box">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48 is-rounded">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ .Essay.Thesis}}</p>
                            <p class="subtitle is-6"><a href="#">@utente</a>&nbsp; <time datetime="2018-1-1">{{ .Essay.Published }}</time></p>
                        </div>
                        <div class="media-right">
                            {{if eq .Essay.ReplyType "supports" }}
                            <span class="tag is-success is-light is-medium">Supports</span> {{ else if eq .Essay.ReplyType "refutes"}}
                            <span class="tag is-danger is-light is-medium">refutes</button> {{ else }}
                            <span class="tag is-warning is-light is-medium">General</button> {{ end }}
                        </div>
                    </div>
                    <br>
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>

                    <div class="card-content">

                        <div class="content" style="padding: 15px;">
                            {{ .Essay.Content }}
                            <br>

                        </div>
                        <nav class="level is-mobile">



                            <div class="level-left">
                                <a onclick="send_vote('favourite')" class="level-item" aria-label="reply">
                                    <span class=" icon is-small has-text-danger ">
										<i class="fa fa-heart " aria-hidden="true "></i>
									</span>
                            </a>
                            <p>{{ .Essay.Upvotes }} &nbsp;</p>
                            <a onclick="send_vote('upvote')" class="level-item " aria-label="reply">
                                <span class="icon is-small has-text-primary ">
										<i class="fa fa-arrow-up " aria-hidden="true "></i>
									</span>
                            </a>
                            <p>{{ .Essay.Downvotes }} &nbsp;</p>
                            <a onclick="send_vote('downvote')" class="level-item " aria-label="retweet">
                                <span class="icon is-small has-text-primary ">
										<i class="fa fa-arrow-down " aria-hidden="true "></i>
									</span>
                            </a>
                            <a href='/essays/{{.Essay.ID}}/report' class="level-item " aria-label="like ">
                                <span class="icon is-small has-text-danger ">
										<i class="fa fa-ban " aria-hidden="true "></i>
									</span>
                            </a>
                        </div>

                        <script>
                            function send_vote(type) {
                                fetch('/s/{{.Essay.PostedIn}}/{{.Essay.ID}}/vote', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded',
                                    },
                                    body: 'vote=' + type

                                });
                            }
                        </script>
                        </nav>
                    </div>
                </div>

                <br>
                <h1 class="title is-2 ">Replies</h1>


                <a href="/newessay?inReplyTo={{ .Essay.ID }}&subdiscepto={{ .Essay.PostedIn }}">
                    <div class="box">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-7"></p>
                                    <input class="input is-primary" type="text" placeholder="Write an essay" readonly>
                                </div>

                            </div>
                        </article>
                    </div>
                </a>

                <br>




                <div class="box " style="cursor: pointer; " onclick="window.location='/essay/1' ; ">
                    <article class="media ">
                        <figure class="media-left ">
                            <p class="image is-64x64 ">
                                <img class="is-rounded " src="https://bulma.io/images/placeholders/128x128.png ">
                            </p>
                        </figure>

                        <div class="media-content ">
                            <div class="content ">
                                <p>
                                <strong>Title</strong> <small>@johnsmith</small> <small>31m</small>
                                    <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                                </p>

                            </div>
                            <nav class="level is-mobile ">
                                <div class="level-left ">


                                    <a onclick="javascript:fetch( '/essay/1/favourite') " class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-danger ">
				 							<i class="far fa-heart " aria-hidden="true "></i>
			 							</span>
                                    </a>

                                    <a onclick="javascript:fetch( '/essay/1/like') " class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-primary ">
				 							<i class="fa fa-arrow-up " aria-hidden="true "></i>
			 							</span>
                                    </a>
                                    <a onclick="javascript:fetch( '/essay/1/dislike') " class="level-item " aria-label="retweet ">
                                        <span class="icon is-small has-text-primary ">
				 							<i class="fa fa-arrow-down " aria-hidden="true "></i>
			 							</span>
                                    </a>
                                    <a href='/essay/1/report' class="level-item " aria-label="like ">
                                        <span class="icon is-small has-text-danger ">
				 							<i class="fa fa-ban " aria-hidden="true "></i>
			 							</span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="media-right ">
                            <span class="tag is-primary is-light is-medium">Supports</span>
                        </div>
                    </article>
                </div>
            </div>




            <div class="column is-3 ">

                <div class="card ">
                    <nav class="panel is-primary ">
                        <p class="panel-heading ">Fonti</p>
                        {{ range .Essay.Sources }}
                        <a class="panel-block ">{{ . }}</a> {{ end }}
                    </nav>
                </div>

                <br>

                <div class="card ">
                    <div class="card-content ">
                        <div class="media ">
                            <div class="media-left ">
                                <figure class="image is-48x48 ">
                                    <img src="https://bulma.io/images/placeholders/96x96.png " alt="Placeholder image ">
                                </figure>
                            </div>
                            &nbsp;&nbsp;
                            <div class="media-content ">
                                <p class="title is-4 ">s/{{ .Essay.PostedIn }}</p>
                                <p class="subtitle is-6 ">666 mebri</p>
                            </div>
                        </div>

                        <div class="content ">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.</p>
                            <button class="button is-primary is-fullwidth is-rounded " id="follow " onclick="join() ">join</button>
                        </div>
                    </div>
                </div>

                <br>

                <div class="card ">
                    <nav class="panel is-primary ">
                        <p class="panel-heading">Your Communities</p>
                        {{ range $s := .SubdisceptoList }}
                        <a href="/s/{{.}}" class="panel-block">s/{{.}}</a>{{end}}
                    </nav>
                </div>
            </div>

            <script>
                function join() {
                    var btn = document.getElementById('follow');
                    if (btn.textContent == 'Leave') {
                        fetch('/s/lamer/leave', {
                            method: 'POST',
                            credentials: 'include'
                        });
                        btn.classList.add('is-primary');
                        btn.textContent = 'Join'
                    } else {
                        fetch('/s/lamer/join', {
                            method: 'POST',
                            credentials: 'include'
                        });
                        btn.textContent = 'Leave'
                        btn.classList.remove('is-primary');
                    }
                }
            </script>



</body>

</html>
{{ end }}
