{{ define "home" }}
{{ template "head" . }}
{{ if .LoggedIn }}
<h1>Welcome back {{ .User.Name }}</h1>
{{ else }}
<h1>Welcome to discepto</h1>
{{ end }}
<ul>
	{{ if .LoggedIn }}
	<li>
		<a href="/signout">Sign out</a>
	</li>
	<li>
		<a href="/newessay">Create new essay</a>
	</li>
	<li>
		<a href="/newsubdiscepto">Create new community</a>
	</li>
	{{ else }}
	<li>
		<a href="/signup">Sign up</a>
	</li>
	<li>
		<a href="/login">Login</a>
	</li>
	{{ end }}
	<li>
		<a href="/s">List communities</a>
	</li>
	<li>
		<a href="/users">List users</a>
	</li>
</ul>
{{ if .LoggedIn }}
<h2>Your communities</h2>
<ul>
{{ range .MySubdisceptos }}
<li>
	<a href="/s/{{ . }}">s/{{ . }}</a>
</li>
{{ end }}
</ul>

{{ range .RecentEssays }}
<h2>Recent essays</h2>
<p>
	<a href="/s/{{ .PostedIn }}/{{ .ID }}">{{ .Thesis }}</a>
	{{ .Content }}
</p>
{{ end }}

{{ end }}
{{ template "footer" . }}
{{ end }}
