{{ define "home" }} {{ template "head" . }}
</head>


<body class="body">

    {{ if .LoggedIn }}
    <br> {{ $length := len .MySubdisceptos }} {{ if eq $length 0 }}
    <script>
        window.location = "/s"
    </script>
    {{ end }} {{ template "navbar" .}}
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="column is-8 is-fluid px-5">

                <a href="/newessay">
                    <div class="box">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-7"></p>
                                    <input class="input is-primary" type="text" placeholder="Write an essay" readonly>
                                </div>

                            </div>
                        </article>
                    </div>
                </a>
                <br> {{ range .RecentEssays }}
                <div class="box is-relative">
                    <article class="media">
                        <figure class="media-left is-hidden-touch">
                            <p class="image is-64x64 ">
                                <img class="is-rounded " src="https://bulma.io/images/placeholders/128x128.png ">
                            </p>
                        </figure>

                        <div class="media-content ">
                            <div class="content ">
                                <p>
                                    <strong>{{.Thesis}}</strong> <small>@{{.AttributedToName}}</small> <small>{{.Published}}</small>
                                    <br> {{.Content}}
                                </p>
                                <a href="/s/{{ .PostedIn }}/{{ .ID }}" class="stretched-link"></a>
                            </div>

                            <nav class="level is-mobile">
                                <div class="level-left ">

                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-danger ">
                                            <i class="fa fa-heart " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-up " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="retweet ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-down " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="media-right is-hidden-mobile">
                            {{if eq .ReplyType.String "supports" }}
                            <span class="tag is-success is-light is-medium">Supports</span> {{ else if eq .ReplyType.String "refutes"}}
                            <span class="tag is-danger is-light is-medium">refutes</span> {{ else }}
                            <span class="tag is-warning is-light is-medium">General</span> {{ end }}
                        </div>
                    </article>
                </div>{{ end }}
            </div>
            <div class="column is-4 is-fluid px-5">
                <div class="card events-card ">
                    <nav class="panel is-primary">
                        <p class="panel-heading ">Your Communities</p>

                        {{ $length := len .MySubdisceptos }} {{ if eq $length 0 }}
                        <a href="/s" class="panel-block ">join in a comunity</a> {{ else }} {{ range .MySubdisceptos }}
                        <a href="/s/{{ . }} " class="panel-block ">s/{{ . }}</a> {{ end }} {{end}}
                    </nav>
                </div>
            </div>

            {{ else }}
            <script>
                window.location = '/login';
            </script>
            {{ end }} {{ end }}
