{{ define "members" }}
{{ template "head" }}
</head>

<body>
    {{ template "navbar" }}

    <div class="section container">
        <div class="columns">
            <div id="menu" class="column is-2 ">
                <aside class="menu">
                    <p class="menu-label">
                    Settings
                    </p>
                    <ul class="menu-list">
                        {{ $prefix := "" }}
                        {{ if .Subdiscepto }} {{ $prefix = (print "/s/" .Subdiscepto.Name )}} {{ end }}
                        <li><a href="{{ $prefix }}/settings">General</a></li>
                        <li><a href="{{ $prefix }}/members">Members</a></li>
                        <li><a href="{{ $prefix }}/roles">Roles</a></li>
                    </ul>

                </aside>
            </div>
            <div class="column is-10">
                <div class="level">
                    <div class="level-left">
                        <h1 class="title">Members list</h1>
                    </div>
                    <div class="level-right">
                        <input class="input is-primary" type="text" placeholder="search members">
                    </div>
                </div>
                <div class="box">

                    {{ range $m := .Members }}
                    <div class="media">
                        <div class="level is-flex-grow-1">
                            <div class="level-left">
                                <div class="level">
                                    <div class="level-left">
                                        <div class="image is-32x32 mr-2">
                                            <img src="http://bulma.io/images/placeholders/128x128.png">
                                        </div>
                                        <a href="#" class="mr-2">@{{ $m.Name }}</a>
                                    </div>
                                    <div class="level-item">
                                        <p id="user-tags" class="tags">
                                        {{ range $m.Roles }}
                                        <span class="tag {{ if .Preset }}is-primary{{ else }}is-info{{ end }}" id="user-owner">
                                            {{ .Name }}
                                            <button class="delete is-small" onclick="remove_role('user', {{ . }})"></button> 
                                        </span>
                                        {{ end }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="select is-small mr-2">
                                    <select id="user-new-role">
                                        {{ range $.Roles }}
                                        <option value="{{.ID}}">{{ .Name }}</option>
                                        {{ end }}
                                    </select>
                                </div>
                                <button class="button is-primary is-small" onclick="add_role('user')">Add role</button>
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    <script>
                        function remove_role(user, role) {
                                                    tag = document.getElementById(user + "-" + role)
                                                    //todo Send req.
                                                    tag.parentNode.removeChild(tag);
                                                }


                                                function add_role(user) {
                                                                            var select = document.getElementById(user + "-new-role");
                                                                            var role = select.options[select.selectedIndex].text;
                                                                            console.log(role)
                                                                            if (document.getElementById(user + '-' + role) == null) {
                                                                                                        var new_el = document.createElement('span');
                                                                                                        new_el.id = user + '-' + role
                                                                                                        new_el.className = "tag is-primary"
                                                                                                        new_el.innerHTML = role + " <button class=\"delete is-small\" onclick=\"remove_role('" + user + "','" + role + "')\"></button> &nbsp;"
                                                                                                        var div = document.getElementById(user + "-tags");
                                                                                                        div.appendChild(new_el);
                                                                                                        div.appendChild(document.createTextNode(" "))
                                                                                                    }


                                                                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{{ end }}
