{{ define "members" }}
{{ template "head" }}
</head>

<body>
    {{ template "navbar" }}

    <div class="section container">
        <div class="columns">
            <div id="menu" class="column is-2 ">
                <aside class="menu">
                    <p class="menu-label">
                    Settings
                    </p>
                    <ul class="menu-list">
                        <li><a href="settings">General</a></li>
                        <li><a href="members">Members</a></li>
                        <li><a href="roles">Roles</a></li>
                    </ul>

                </aside>
            </div>
            <div class="column is-10">
                <div class="level">
                    <div class="level-left">
                        <h1 class="title">Members list</h1>
                    </div>
                    <div class="level-right">
                        <input class="input is-primary" type="text" placeholder="search members">
                    </div>
                </div>
                <div class="box">

                    {{ range $m := .Members }}
                    <div class="media" id="member-{{.UserID}}" hx-target="this" hx-select="#member-{{.UserID}}" hx-swap="outerHTML">
                        <div class="level is-flex-grow-1">
                            <div class="level-left">
                                <div class="level-left">
                                    <div class="image is-32x32 mr-2">
                                        <img src="http://bulma.io/images/placeholders/128x128.png">
                                    </div>
                                    <div class="level-item is-flex is-flex-direction-column">
                                            <a href="#">@{{ $m.Name }}</a>
                                            {{ if .LeftAt.Valid }}
                                            <div class="dropdown is-hoverable">
                                                <div class="dropdown-trigger">
                                                    <span>Has left<span>
                                                </div>
                                                <div class="dropdown-menu">
                                                    <div class="dropdown-content">
                                                        <div class="dropdown-item">
                                                            User left at {{ .LeftAt }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{ end }}
                                    </div>
                                </div>
                                <div class="level-left tags">
                                    {{ range $m.Roles }}
                                    <span class="tag {{ if .Preset }}is-primary{{ else }}is-info{{ end }}">
                                        {{ .Name }}
                                        <button hx-delete="members/{{$m.UserID}}/{{.ID}}" class="delete is-small"></button> 
                                    </span>
                                    {{ end }}
                                </div>
                            </div>
                            <div class="level-right">
                                <form hx-boost="true" method="post" action="members/{{.UserID}}">
                                    <div class="select is-small mr-2">
                                        <select name="role">
                                            {{ range $.Roles }}
                                            <option value="{{.ID}}">{{ .Name }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                    <button class="button is-primary is-small">Add role</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
    {{ template "footer" }}
{{ end }}
