{{ define "newEssay" }}
{{ template "head" . }}
<p>Create a new essay</p>
<form action="/essays" method="post">
    <label for="thesis">Thesis</label><br>
    <input type="area" name="thesis" id="thesis" value="{{.Thesis}}"><br>

    <label for="content">Content (min: 150 chars)</label><br>
    <textarea name="content" id="content">{{ .Content }}</textarea><br>

    <label for="tags">Tags</label><br>
    <input name="tags" id="tags"><br>

    <label for="postedIn">Community</label><br>
    <input name="postedIn" id="postedIn" value="{{.PostedIn}}"><br>

    {{ if .InReplyTo.Valid }}
    <label for="inReplyTo">In Reply to ID</label><br>
    <input name="inReplyTo" id="inReplyTo" value="{{.InReplyTo.Int32}}"><br>
    {{ end }}

    <p>Reply type</p>
    <input type="radio" name="replyType" id="replyTypeSupports" value="supports">
    <label for="replyTypeSupports">Supports</label><br>

    <input type="radio" name="replyType" id="replyTypeRefutes" value="refutes">
    <label for="replyTypeRefutes">Refutes</label><br>

    <input type="radio" name="replyType" id="replyTypeGeneral" value="general">
    <label for="replyTypeGeneral">General</label><br>

    <button type="submit">Create</button>
</form>
{{ template "footer" . }}
{{ end }}
