{{ define "newSubdiscepto" }} {{ template "head" . }} {{ template "simplemde" .}}
</head>

<body class="body">
    {{ template "navbar" . }}
    <div class="section">
        <div class="container is-max-widescreen">
            <h1 class="title is-1">Create a new community</h1>
            <div class="box">
                {{ template "subdisceptoForm" . }}
            </div>
        </div>

        <script>
            document.getElementById('subdisceptoName').addEventListener("keyup", function(evt) {
            if (validateEmail(this.value)) {
                this.classList.remove("is-danger")
                this.classList.add("is-success")
                document.getElementById("subdisceptoButton").disabled=false;
            } else {
                this.classList.add("is-danger")
                document.getElementById("subdisceptoButton").disabled=true;
            }
            }, false);

            function validateEmail(subdisceptoName) {
                const re = /^\w+$/;
                return re.test(subdisceptoName);
            }
        </script>
        

    {{ template "footer" }}
{{ end }}
