{{ define "notifications" }} {{ template "head" . }}
</head>

<body class="body">
	{{ template "navbar" .}}
	<div hidden>
                   <div id="notifs-dropdown" class="dropdown is-right is-hoverable">
		<div class="dropdown-trigger">
		  <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu4">
			  <span class="icon is-small">
				  {{ if not . }}
				  <i class="far fa-bell" aria-hidden="true"></i>
				  {{ else }}
				  <i class="fas fa-bell" aria-hidden="true"></i>
				  {{ end }}
			  </span>
		  </button>
		</div>
		
		<div class="dropdown-menu" role="menu">
			<div class="dropdown-content">
			{{ range . }}
			<a href="{{.ActionURL}}" class="dropdown-item"
						 hx-post="/notifications/{{.ID}}?action_url={{.ActionURL}}"
			>
			  <article class="media">
			    <div class="media-left">
			      <figure class="image is-32x32">
				<img class="is-rounded" style="max-height: 100%" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
			      </figure>
			    </div>
			    <div class="media-content">
				<p class="title is-6">{{ .Title }}</p>
				<p class="subtitle is-6">
				{{ .Text }}
				</p>
			    </div>
			    <div class="media-right">
			<span class="icon">
				<i class="fas
					  {{ if eq .NotifType "reply" }}
					  fa-arrow-up
					  {{ end }}
					  "></i>
			</span>
			    </div>
			</article>
			</a>
			<hr class="dropdown-divider">
			{{ end }}
			<div class="level">
				<div class="level-item">
					<a href="/notifications">View all</a>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	<div class="column container is-max-widescreen">

		<div class="hero">
			<div class="hero-body is-flex">
				<h1 class="title">Your notifications</h1>
			</div>
		</div>
		{{ if not . }}
		<p>No notifications available</p>
		{{ end }}
		{{ range .}}
		<div class="box">	
			<a href="{{.ActionURL}}"
						 hx-post="/notifications/{{.ID}}?action_url={{.ActionURL}}"
			>
			<div class="media">
				<div class="media-left">
					<figure class="image is-48x48">
						<img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
					</figure>
				</div>
				<div class="media-content">
					<p class="title is-6">{{ .Title }}</p>
					<p class="subtitle is-6">
					{{ .Text }}
					</p>
				</div>
				<div class="media-right pt-3">
					<span class="icon">
						<i class="fas
							  {{ if eq .NotifType "reply" }}
							  fa-arrow-up
							  {{ end }}
							  "></i>
					</span>
				</div>
			</div>
			</a>

		</div>
		{{ end }}
	</div>
	{{ template "footer" }}
	{{ end }}
