{{ define "roles" }}
{{ template "head" }}
</head>

<body>
    {{ template "navbar" }}
    <div class="container is-max-widescreen">
        <div class="columns mr-0 ml-0 mt-4">
            <div id="menu" class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                    Settings
                    </p>
                    <ul class="menu-list">
                        <li><a href="settings">General</a></li>
                        <li><a href="members">Members</a></li>
                        <li><a href="roles">Roles</a></li>
                    </ul>

                </aside>
            </div>



            <div class="column is-10">
                <h1 class="title">Roles</h1>
                <div class="box">
                    <div class="media">
                        <form class="is-flex-grow-1" method="post">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" required type="text" name="roleName" placeholder="Name of the new role">
                                </div>
                                <div class="control">
                                    <button class="button is-info">
                                        Create
                                    </button>
                                </div>
                            </div>
                        <form>
                    </div>
                    {{ range .Roles }}
                    <div class="media level is-mobile">
                        <div class="level-left">
                            <span class="tag is-medium {{ if .Preset }}is-primary{{ else }}is-info{{ end }}">{{ .Name }}</span>
                        </div>
                        <div class="level-right">
                            <a class="button is-info is-outlined is-small" href="roles/{{ .Name }}">View/Edit</a>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

        </div>
    </div>

    </div>
</body>

</html>
{{ end }}
