{{ define "roles" }}
{{ template "head" }}
</head>

<body>
    {{ template "navbar" }}
    <div class="container is-max-widescreen">
        <div class="columns mr-0 ml-0 mt-4">
            <div id="menu" class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                    Settings
                    </p>
                    <ul class="menu-list">
                        <li><a href="settings">General</a></li>
                        <li><a href="members">Members</a></li>
                        <li><a href="roles">Roles</a></li>
                    </ul>

                </aside>
            </div>



            <div class="column is-10">
                <h1 class="title">Roles</h1>
                <div class="box">
                    {{ range .Roles }}
                    <div class="media level is-mobile">
                        <div class="level-left">
                            <span class="tag is-medium {{ if .Preset }}is-primary{{ else }}is-info{{ end }}">{{ .Name }}</span>
                        </div>
                        <div class="level-right">
                            <button class="button is-small" onclick="spawn_modal({{ .Name }})">View permissions</button>
                        </div>
                    </div>
                    {{ end }}

                </div>
            </div>
            {{ range .Roles }}
                    <div class="modal" id="role-{{ .Name }}">
                        <div class="modal-background">
                        </div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">{{ .Name }} permissions</p>
                                <button class="delete close-modal" aria-label="close"></button>
                            </header>
                            <fieldset class="field" {{ if .Preset }}disabled{{ end }}>
                                <section class="modal-card-body">
                                    {{ if .Preset }}
                                    <article class="message">
                                        <div class="message-body is-warning">
                                            This is a preset role, it is not editable
                                        </div>
                                    </article>
                                    {{ end }}

                                    <div class="control">
                                        <label class="label">View comunity</label>
                                        <label class="radio">
                                            <input type="radio" name="v_comunity">
                                            yes
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="v_comunity">
                                            no
                                        </label>
                                    </div>
                                    <br>
                                    <div class="control">
                                        <label class="label">Manage community</label>
                                        <label class="radio">
                                            <input type="radio" name="m_comunity">
                                            yes
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="m_comunity">
                                            no
                                        </label>
                                    </div>
                                    <br>
                                    <div class="control">
                                        <label class="label">Manage Roles</label>
                                        <label class="radio">
                                            <input type="radio" name="m_roles">
                                            yes
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="m_roles">
                                            no
                                        </label>
                                    </div>
                                    <br>
                                    <div class="control">
                                        <label class="label">Manage essays</label>
                                        <label class="radio">
                                            <input type="radio" name="m_essays">
                                            yes
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="m_essays">
                                            no
                                        </label>
                                    </div>



                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button is-success">Save changes</button>
                                </footer>
                            </fieldset>
                        </div>
                    </div>
            {{ end }}

        </div>
    </div>

    </div>
    <script>
        function spawn_modal(role) {
                    var modal = document.getElementById('role-' + role);
                    var html = document.querySelector('html');
                    modal.classList.add('is-active');
                    html.classList.add('is-clipped');

                    modal.querySelector('.close-modal').addEventListener('click', function(e) {
                                e.preventDefault();
                                modal.classList.remove('is-active');
                                html.classList.remove('is-clipped');
                            });

                    modal.querySelector('.modal-background').addEventListener('click', function(e) {
                                e.preventDefault();
                                modal.classList.remove('is-active');
                                html.classList.remove('is-clipped');
                            });
                };
    </script>
</body>

</html>
{{ end }}
