<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="members.css"> -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/"><img src="/static/img/logo.svg" width="112" height="28"></a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="mainNavbar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/newsubdiscepto">New Comunity</a>
                    <a class="navbar-item" id="searchBtn">Search</a>
                    <div class="modal" id="searchModal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title ">Search console</p>
                                <button class="delete" aria-label="close" data-bulma-modal='close'></button>
                            </header>
                            <section class="modal-card-body ">
                                <form action="/search" method="GET">
                                    <div class="field is-horizontal is-grouped ">
                                        <input type="text" class="input is-primary" name="search"> &nbsp
                                        <button class="button is-primary" type="">Search</button>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>

                    <a class="navbar-item " href="/settings.html ">settings</a>
                </div>
                <div class="navbar-end ">
                    <div class="navbar-item ">
                        <div class="buttons "><a class="button is-primary " href="/newessay"><strong>New</strong></a></div>
                    </div>
                    <a class="navbar-item " href="/signout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <script src="https://disceptoepicdev.freemaker.it/static/js/navbar.js"></script>

    <br>

    <!-- end navbnar-->



    <div id="container" class="container">
        <div class="columns">
            <div id="menu" class="column is-2 ">
                <aside class="menu">
                    <p class="menu-label">
                        Settings
                    </p>
                    <ul class="menu-list">
                        <li><a href="/settings.html">General</a></li>
                        <li><a href="/members.html">Members</a></li>
                        <li><a href="/banned.html">Banned</a></li>
                        <li><a href="/role.html">role</a></li>
                    </ul>

                </aside>
            </div>



            <div class="column is-10">
                <div class="box">
                    <table class=" table is-fullwidth ">
                        <thead>
                            <tr>
                                <th>Roles</th>
                                <th>Members</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>owner</td>
                                <td>1</td>
                                <td><button class="button " onclick="spawn_modal('owner')">Edit</button></td>
                            </tr>

                            <div class="modal" id="role-owner">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">owner settings</p>
                                        <button class="delete close-modal" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">

                                        <div class="field">
                                            <div class="control">
                                                <label class="label">View comunity</label>
                                                <label class="radio">
                                                  <input type="radio" name="v_comunity">
                                                  yes
                                                </label>
                                                <label class="radio">
                                                  <input type="radio" name="v_comunity">
                                                  no
                                                </label>
                                            </div>
                                            <br>
                                            <div class="control">
                                                <label class="label">Manage community</label>
                                                <label class="radio">
                                                  <input type="radio" name="m_comunity">
                                                  yes
                                                </label>
                                                <label class="radio">
                                                  <input type="radio" name="m_comunity">
                                                  no
                                                </label>
                                            </div>
                                            <br>
                                            <div class="control">
                                                <label class="label">Manage Roles</label>
                                                <label class="radio">
                                                  <input type="radio" name="m_roles">
                                                  yes
                                                </label>
                                                <label class="radio">
                                                  <input type="radio" name="m_roles">
                                                  no
                                                </label>
                                            </div>
                                            <br>
                                            <div class="control">
                                                <label class="label">Manage essays</label>
                                                <label class="radio">
                                                  <input type="radio" name="m_essays">
                                                  yes
                                                </label>
                                                <label class="radio">
                                                  <input type="radio" name="m_essays">
                                                  no
                                                </label>
                                            </div>
                                        </div>



                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-success">Save changes</button>
                                    </footer>
                                </div>
                            </div>

                            <tr>
                                <td>moderator</td>
                                <td>1</td>
                                <td><button class="button " onclick="spawn_modal('moderator')">Edit</button></td>
                            </tr>

                            <div class="modal" id="role-moderator">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title">moderator settings</p>
                                        <button class="delete close-modal" aria-label="close"></button>
                                    </header>
                                    <section class="modal-card-body">
                                        <div class="control">
                                            <label class="label">View comunity</label>
                                            <label class="radio">
                                              <input type="radio" name="v_comunity">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="v_comunity">
                                              no
                                            </label>
                                        </div>
                                        <br>
                                        <div class="control">
                                            <label class="label">Manage community</label>
                                            <label class="radio">
                                              <input type="radio" name="m_comunity">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="m_comunity">
                                              no
                                            </label>
                                        </div>
                                        <br>
                                        <div class="control">
                                            <label class="label">Manage Roles</label>
                                            <label class="radio">
                                              <input type="radio" name="m_roles">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="m_roles">
                                              no
                                            </label>
                                        </div>
                                        <br>
                                        <div class="control">
                                            <label class="label">Manage essays</label>
                                            <label class="radio">
                                              <input type="radio" name="m_essays">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="m_essays">
                                              no
                                            </label>
                                        </div>
                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-success">Save changes</button>
                                    </footer>
                                </div>
                            </div>
                        </tbody>
                        <tr>
                            <th><button class="button is-success" onclick="spawn_modal('new')">Add new role</button></th>
                        </tr>

                        <div class="modal" id="role-new">
                            <div class="modal-background"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                    <p class="modal-card-title">Create new role</p>
                                    <button class="delete close-modal" aria-label="close"></button>
                                </header>
                                <form action="">
                                    <section class="modal-card-body">
                                        <div class="control">
                                            <label class="label">Role name</label>
                                            <input class="input is-primary" type="text" placeholder="Role name" required>
                                        </div>
                                        <br>
                                        <div class="control">
                                            <label class="label">View comunity</label>
                                            <label class="radio">
                                              <input type="radio" name="v_comunity">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="v_comunity">
                                              no
                                            </label>
                                        </div>
                                        <br>
                                        <div class="control">
                                            <label class="label">Manage community</label>
                                            <label class="radio">
                                              <input type="radio" name="m_comunity">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="m_comunity">
                                              no
                                            </label>
                                        </div>
                                        <br>
                                        <div class="control">
                                            <label class="label">Manage Roles</label>
                                            <label class="radio">
                                              <input type="radio" name="m_roles">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="m_roles">
                                              no
                                            </label>
                                        </div>
                                        <br>
                                        <div class="control">
                                            <label class="label">Manage essays</label>
                                            <label class="radio">
                                              <input type="radio" name="m_essays">
                                              yes
                                            </label>
                                            <label class="radio">
                                              <input type="radio" name="m_essays">
                                              no
                                            </label>
                                        </div>

                                    </section>
                                    <footer class="modal-card-foot">
                                        <button class="button is-success">Save changes</button>
                                    </footer>
                                </form>
                            </div>
                        </div>


                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>

    </div>
    <script>
        function spawn_modal(role) {
            var modal = document.getElementById('role-' + role);
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');

            modal.querySelector('.close-modal').addEventListener('click', function(e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
            });

            modal.querySelector('.modal-background').addEventListener('click', function(e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
            });
        };
    </script>
</body>

</html>