{{ define "search" }} {{ template "head" . }}
</head>

<body class="body">
    {{ template "navbar" .}}
    <div class="container is-max-widescreen">
        <div class="columns  mr-2 ml-2 mt-4">
            <div class="column is-8 is-fluid">
                <h1 class="title">Search Page</h1>
                <form hx-boost="true" hx-target="#search-results" hx-select="#search-results" hx-push-url="true" action="/search">
                    <div class="field has-addons">
                        <div class="control">
                            <div class="select">
                                <select name="searchBy">
                                  <option value="tags" {{if eq .SearchBy "tags"}}selected{{end}}>Tags</option>
                                  <option value="thesis" {{if eq .SearchBy "thesis"}}selected{{end}}>Thesis</option>
                                </select>
                            </div>
                        </div>
                        <div class="control is-expanded">
                            <input class="input" name="q" id="q" type="text" placeholder="Search" value="{{.Query}}">
                        </div>
                        
                        <div class="control">
                            <button class="button is-primary">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                  </span>
                            </button>
                        </div>
                    </div>
                </form><br> 
                <div id="search-results">
                {{ range .Essays }}
                {{ template "essayCard" . }} 
                {{ end }}
            </div>
            </div>
            <div class="column is-4 is-fluid">
                <div class="card events-card ">
                    <nav class="panel is-primary">
                        <p class="panel-heading ">Your Communities</p>

                        {{ $length := len .MySubdisceptos }} {{ if eq $length 0 }}
                        <a href="/s" class="panel-block ">join in a comunity</a> {{ else }} {{ range .MySubdisceptos }}
                        <a href="/s/{{ .Name }} " class="panel-block ">s/{{ .Name }}</a> {{ end }} {{end}}
                    </nav>
                </div>
            </div>

            {{ template "footer" }} {{ end }}
