<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - Free Bulma template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="user.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="https://disceptoepicdev.freemaker.it/static/css/easymde.min.css">
    <script src=" https://disceptoepicdev.freemaker.it/static/js/easymde.min.js"></script>

</head>

<body>

    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/"><img src="/static/img/logo.svg" width="112" height="28"></a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="mainNavbar" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/newsubdiscepto">New Comunity</a>
                    <a class="navbar-item" id="searchBtn">Search</a>
                    <div class="modal" id="searchModal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title ">Search console</p>
                                <button class="delete" aria-label="close" data-bulma-modal='close'></button>
                            </header>
                            <section class="modal-card-body ">
                                <form action="/search" method="GET">
                                    <div class="field is-horizontal is-grouped ">
                                        <input type="text" class="input is-primary" name="search"> &nbsp
                                        <button class="button is-primary" type="">Search</button>
                                    </div>
                                </form>
                            </section>
                        </div>
                    </div>




                    <a class="navbar-item " href="/settings.html ">settings</a>
                </div>
                <div class="navbar-end ">
                    <div class="navbar-item ">
                        <div class="buttons "><a class="button is-primary " href="/newessay"><strong>New</strong></a></div>
                    </div>
                    <a class="navbar-item " href="/signout">Logout</a>
                </div>
            </div>
        </nav>
    </header>
    <script src="https://disceptoepicdev.freemaker.it/static/js/navbar.js"></script>

    <br>

    <!-- end navbnar-->



    <div id="container" class="container">
        <div class="columns">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        Settings
                    </p>
                    <ul class="menu-list">
                        <li><a href="/settings.html">General</a></li>
                        <li><a href="/members.html">Members</a></li>
                        <li><a href="/banned.html">Banned</a></li>
                        <li><a href="/role.html">role</a></li>
                    </ul>

                </aside>
            </div>
            <div class="column is-8">
                <div class="box content">
                    <form action="/s" method="post" id="formid">
                        <section class="section">
                            <div class="field">
                                <h1 class="title is-1">Update your comunity</h1>
                            </div>
                            <div class="field">
                                <label class="label ">Name</label>
                                <div class="control has-icons-left">
                                    <input type="text" value="OldName" class="input is-primary" required name="name">
                                    <span class="icon is-small is-left">
                                    <i class="fa fa-home"></i>
                                </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label ">Description</label>
                                <textarea id="SubDisceptoDesc"></textarea>
                                <input name="description" type="hidden">
                            </div>

                            <div class="field">
                                <label class="label ">Topics</label>
                                <div class="control">
                                    <input type="text" value="old, topics" class="input is-primary" required name="topics">
                                </div>
                                <p class="help">Insert topics separated by commas e.g. tags1,tags2,tags3</p>
                            </div>


                            <div class="field"></div>
                            <label for="" class="label">Privacy</label>
                            <div class="control">
                                <label class="radio">
                              <input type="radio" name="privacy" value="public" checked> Public
                            </label>
                                <label class="radio">
                              <input type="radio" name="privacy" value="restricted"> Restricted
                            </label>
                                <label class="radio">
                              <input type="radio" name="privacy" value="private"> Private
                            </label>
                            </div>
                            <br>
                            <div>
                                <button class="button is-primary is-outlined" type="submit">Update</button>
                            </div>
                        </section>
                    </form>
                </div>
            </div>

            <script>
                var simplemde = new EasyMDE({
                    element: document.getElementById("SubDisceptoDesc"),
                    spellChecker: false
                });


                simplemde.value("oldDesc");
                var form = document.getElementById("formid");
                var about = document.querySelector('input[name=description]');

                form.onsubmit = function() {
                    about.value = simplemde.value();
                    form.submit();
                };
            </script>





        </div>
    </div>
    </div>
</body>

</html>