{{ define "subdisceptos" }} {{ template "head" . }}
</head>

<body class="body">
    {{ template "navbar" .}}
    <div class="column container is-max-widescreen">
        <section class="container">
            <div class="hero">
                <div class="hero-body is-flex">
                    <h1 class="title">Discover communities</h1>
                </div>
            </div>
            <div class="columns is-multiline">
                {{ range .Subs }}
                <div class="column is-4 is-flex">
                    {{ template "subdisceptoCard" . }}
                </div>
                {{ end }}
            </div>




        </section>
    </div>
    {{ template "footer" }} {{ end }}