{{ define "subdisceptos" }} {{ template "head" . }}
</head>

<body class="body">
    {{ template "navbar" . }}
    <div class="column container is-max-widescreen">
        <section class="container">
            <div class="hero">
                <div class="hero-body is-flex">
                    <h1 class="title">Discover communities</h1>
                </div>
            </div>
            <div class="columns is-multiline">
                {{ with .GlobalPerms }}
                {{ if .Check "create_subdiscepto" }}
                <div class="column is-4 is-flex">
                        <a href="/newsubdiscepto" style="min-height: 100px; height: 100%" class="button is-medium is-fullwidth">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>
                            New community
                            </span>
                        </a>
                </div>
                {{ end }}
                {{ end }}
                {{ range .Subs }}
                <div class="column is-4 is-flex">
                    {{ template "subdisceptoCard" . }}
                </div>
                {{ end }}
            </div>




        </section>
    </div>
    {{ template "footer" }} {{ end }}
