{{ define "subsettings" }} {{ template "head" }}
</head>

<body>
    {{ template "navbar" }}
    <div class="container is-max-widescreen">
        <div class="columns ml-0 mr-0 mt-4">
            <div class="column is-2">
                <aside class="menu">
                    <p class="menu-label">
                        Settings
                    </p>
                    <ul class="menu-list">
                        <li><a href="settings">General</a></li>
                        <li><a href="members">Members</a></li>
                        <li><a href="roles">Roles</a></li>
                    </ul>

                </aside>
            </div>
            <div class="column is-10">
                <h1 class="title">Update your comunity</h1>
                <div class="box content">
                    {{ template "subdisceptoForm" . }}
                </div>
            </div>
        </div>
    </div>
    </div>
    {{ template "footer" }}
{{ end }}
