{{ define "terms" }}
{{ template "head" }}
</head>
<body>
    <div class="container is-max-desktop">
        <section class="section">
            <div class="is-flex is-align-items-center">
                <figure class="image is-128x128">
                    <img src="/static/img/logo.svg">
                </figure>
                <h1 class="title is-1">Terms of service</h1>
            </div>
            <div class="card">
                <div class="card-content">
                    By signing up, you are accepting the following terms of service:
                    <br>
                    <br>

                    The user must respect the internal rules of a community (netiquette).
                    <br>
                    The user must respect the italian law.
                    <br>
                    It is therefore prohibited to post
                    copyrighted content without consent.
                    <br>
                    Each user is held responsible for the content uploaded.
                    <br>
                    <br>
                    
                    In the case someone doesn't follow the previous rules,
                    the erogation of the service may be blocked or terminated.
                    <br>

                    The administrators of discepto keep the right to terminate the service, entirely or partially,
                    at any moment, without any previous notice.
                    <br>
                    <br>

                    This document may be changed with 2 weeks notice.
                    <br>
                    The notice will be sent to the email corrisponding to the related user account
                    </div>
            </div>
        </section>
        <section class="section has-text-centered">
            <a href="/signup">Signup</a>
        </div>
        

    </div>
    {{ end }}
