{{ define "user" }} {{ template "head" . }}
	</head>

    <body class="body">
        {{ template "navbar" .}}
    <div class="container is-max-widescreen">
        <div class="columns is-vcentered">
            <div class="hero">
                <div class="hero-body is-flex">
                    <p class="media-left image is-64x64">
                        <img src="https://bulma.io/images/placeholders/128x128.png" class="is-rounded">
                    </p>
                    <h1 class="title" style="padding-top: 10px;">u/chromeheartboyy</h1>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-8 is-fluid mr-2 ml-2">
                <a href="/newessay?subdiscepto={{ .Name}}">
                    <div class="box">
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p class="title is-7"></p>
                                    <input class="input is-primary" type="text" placeholder="Write an essay" readonly>
                                </div>

                            </div>
                        </article>
                    </div>
                </a>
                <br> 
                <section id="replies">
                    
                    <div class="tabs is-relative">
                        <ul class="tabs-menu">
                            <li class="{{if eq .FilterReplyType " general "}}is-active{{end}}"><a href="?replyType=general">Top</a></li>
                            <li class="{{if eq .FilterReplyType " refutes "}}is-active{{end}}"><a href="?replyType=refutes">New</a></li>
                            <li class="{{if eq .FilterReplyType " supports "}}is-active{{end}}"><a href="?replyType=supports">Hot</a></li>
                        </ul>               
                    </div>
                </section>
                <br>
                <div class="box is-relative">
                    <article class="media">
                        <figure class="media-left is-hidden-touch">
                            <p class="image is-64x64 ">
                                <img class="is-rounded " src="https://bulma.io/images/placeholders/128x128.png ">
                            </p>
                        </figure>

                        <div class="media-content ">
                            <div class="content ">
                                <p>
                                    <strong>Titolo Fighissimo</strong> <small>@heyitsme</small> <small>okookokoko</small>
                                    <br> 
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum placeat dolore facilis quidem possimus non, ducimus voluptatibus ab, ratione nobis eligendi vero. Voluptas aliquam perferendis assumenda, illum deserunt veniam.
                                </p>
                                <a href="/s/{{ .PostedIn }}/{{ .ID }}" class="stretched-link"></a>
                            </div>

                            <nav class="level is-mobile">
                                <div class="level-left ">

                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-danger ">
                                            <i class="fa fa-heart " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-up " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="retweet ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-down " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="media-right is-hidden-mobile">    
                            <span class="tag is-warning is-light is-medium">General</span> 
                        </div>
                    </article>
                </div>
                <div class="box is-relative">
                    <article class="media">
                        <figure class="media-left is-hidden-touch">
                            <p class="image is-64x64 ">
                                <img class="is-rounded " src="https://bulma.io/images/placeholders/128x128.png ">
                            </p>
                        </figure>

                        <div class="media-content ">
                            <div class="content ">
                                <p>
                                    <strong>Titolo Fighissimo</strong> <small>@heyitsme</small> <small>okookokoko</small>
                                    <br> 
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum placeat dolore facilis quidem possimus non, ducimus voluptatibus ab, ratione nobis eligendi vero. Voluptas aliquam perferendis assumenda, illum deserunt veniam.
                                </p>
                                <a href="/s/{{ .PostedIn }}/{{ .ID }}" class="stretched-link"></a>
                            </div>

                            <nav class="level is-mobile">
                                <div class="level-left ">

                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-danger ">
                                            <i class="fa fa-heart " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-up " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="retweet ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-down " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="media-right is-hidden-mobile">    
                            <span class="tag is-warning is-light is-medium">General</span> 
                        </div>
                    </article>
                </div>
                <div class="box is-relative">
                    <article class="media">
                        <figure class="media-left is-hidden-touch">
                            <p class="image is-64x64 ">
                                <img class="is-rounded " src="https://bulma.io/images/placeholders/128x128.png ">
                            </p>
                        </figure>

                        <div class="media-content ">
                            <div class="content ">
                                <p>
                                    <strong>Titolo Fighissimo</strong> <small>@heyitsme</small> <small>okookokoko</small>
                                    <br> 
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorum placeat dolore facilis quidem possimus non, ducimus voluptatibus ab, ratione nobis eligendi vero. Voluptas aliquam perferendis assumenda, illum deserunt veniam.
                                </p>
                                <a href="/s/{{ .PostedIn }}/{{ .ID }}" class="stretched-link"></a>
                            </div>

                            <nav class="level is-mobile">
                                <div class="level-left ">

                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-danger ">
                                            <i class="fa fa-heart " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="reply ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-up " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                    <a class="level-item " aria-label="retweet ">
                                        <span class="icon is-small has-text-primary ">
                                            <i class="fa fa-arrow-down " aria-hidden="true "></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                        <div class="media-right is-hidden-mobile">    
                            <span class="tag is-warning is-light is-medium">General</span> 
                        </div>
                    </article>
                </div>
            </div>
            <div class="column is-4 is-fluid mr-2 ml-2">
                
    
                <div class="card events-card ">
                    <nav class="panel is-primary">
                        <p class="panel-heading ">Your Communities</p>
                        {{ $length := len .MySubdisceptos }} {{ if eq $length 0 }}
                        <a href="/s" class="panel-block ">join in a comunity</a> {{ else }} {{ range .MySubdisceptos }}
                        <a href="/s/{{ . }} " class="panel-block ">s/{{ . }}</a> {{ end }} {{end}}
                    </nav>
                </div>
                <br>
                <div class="card">
                    <nav class="panel is-primary">
                        <p class="panel-heading ">Your notifications</p>
                        <a href="notifications" class="panel-block "> 
                            <article class="media">
                              <div class="media-left">
                              <figure class="image is-48x48">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                              </figure>
                              </div>
                              <div class="media-content">
                              <p class="subtitle is-6">@user has upvoted your post!</p>
                              </div>
                              <div class="media-right">
                                <span class="icon">
                                  <i class="fas fa-arrow-up"></i>
                                </span>
                              </div>
                          </article>
                          </a>
                          <a href="notifications" class="panel-block "> 
                            <article class="media">
                              <div class="media-left">
                              <figure class="image is-48x48">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                              </figure>
                              </div>
                              <div class="media-content">
                              <p class="subtitle is-6">@user has upvoted your post!</p>
                              </div>
                              <div class="media-right">
                                <span class="icon">
                                  <i class="fas fa-arrow-up"></i>
                                </span>
                              </div>
                          </article>
                          </a>
                          <a href="notifications" class="panel-block "> 
                            <article class="media">
                              <div class="media-left">
                              <figure class="image is-48x48">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                              </figure>
                              </div>
                              <div class="media-content">
                              <p class="subtitle is-6">@user has upvoted your post!</p>
                              </div>
                              <div class="media-right">
                                <span class="icon">
                                  <i class="fas fa-arrow-up"></i>
                                </span>
                              </div>
                          </article>
                          </a>
                    </nav>
                </div>
            </div>
        </div>
        {{ end }}