{{ define "user" }} {{ template "head" . }}
	</head>

    <body class="body">
        {{ template "navbar" .}}
    <div class="container is-max-widescreen">
        <div class="hero ml-4 mr-4">
            <div class="hero-body">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png" class="is-rounded">
                            </p>
                        </div>
                        <div class="level-item">
                            <h1 class="title" style="padding-top: 10px;">u/{{ .User.Name}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns ml-2 mr-2">
            <div class="column is-8 is-fluid">
                {{ range .Essays}}
                {{ template "essayCard" . }} 
                {{ end }}
            </div>
            <div class="column is-4 is-fluid">
                {{ template "userCard" . }}
                
                <div class="card events-card block">
                    <nav class="panel is-primary">
                        <p class="panel-heading ">Your Communities</p>
                        {{ $length := len .MySubdisceptos }} {{ if eq $length 0 }}
                        <a href="/s" class="panel-block ">join in a comunity</a> {{ else }} {{ range .MySubdisceptos }}
                        <a href="/s/{{ . }} " class="panel-block ">s/{{ . }}</a> {{ end }} {{end}}
                    </nav>
                </div>
                
            </div>
        </div>
        {{ end }}
